body{
  background-color: lightBlue;
  }

img{
  transform: rotate(15deg);
  margin: 20px 20px 20px 20px;
  border-radius: 90px 90px 10px 10px;
  }

h1{
  font-weight: bold; 
  font-style: italic;
  color: red;
  }

p{
  color: brown;
  }


