

body{
  background: linear-gradient(lightBlue, teal, blue);
  height: 100%;
  width: 100%;
  }

.head{
  text-align: center;
  }

.dinkle img{
  transform: rotate(15deg);
  margin: 20px 20px 40px 20px;
  border-radius: 90px 90px 10px 10px;
  }

.hadOne{
  font-size: 25px;
  font-weight: bold; 
  font-style: italic;
  color: red;
  }

.horse{
  font-weight: bold;
  color: brown;
  }


