html{
  background-image: linear-gradient(to bottom, lightBlue, teal, blue);
  }

body{
  height: 100%;
  width: 100%;
  text-align: center;
  }

.dinkle img{
  transform: rotate(15deg);
  margin: 20px 20px 20px 20px;
  border-radius: 90px 90px 10px 10px;
  }

.hadOne{
  font-weight: bold; 
  font-style: italic;
  color: red;
  }

.horse{
  color: brown;
  }


